; Sample config.chord file
; To use this file, change the values and name the file "config.chord" 

; All lines beginning with ';' are considered as comments. 

chordSize 6
numPeers 5
127.0.0.1 1041
127.0.0.1 2803
127.0.0.1 4491
127.0.0.1 5607
127.0.0.1 6375

; This is an example that has somewhat uniform distribution of nodes.
; DO NOT add any spacing or newlines between the config lines.
; It is absoulutely essential that all peers should have the exact same config file.
